*,
*::after,
*::before {
  box-sizing: border-box;
}
header, footer, nav {display: block;}

html, body {
    display: flex;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    background-color: #d8d8d8;
    margin: 0;
    
    padding: 0;
    align-items: center;
    justify-content: center;
    
}

hr {
    background: #93c1f0;
    size: 3px;
}


header{
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
  
    flex: 0 0 auto;
}
.form__login{
    display: inline-flex;
    justify-content: flex-start;
    padding: 8px 24px;
   
    color: #ffff;
 
    background-color: #488835;
    border-radius: 25px;
    
    border: 1px solid #ffffff;
    cursor: pointer;
    
    
    
}
.form__menu{
    display: inline-flex;
    color:rgb(131, 131, 131);
    
    justify-content: flex-end;
    width: 100%;
    
}
.no-wrap {
    display: inline-flex;
    flex-wrap: nowrap;
}
.form {
    display: inline-flexbox;
    background-color: #ffff;
    
    border-radius: 4px;
   
    
    height: 1000px;
    padding: 40px;
    width: 1500px;
    
}
.form__body{
    display: flex;
    flex: 1 0 auto;
    justify-content:space-between;
    
}
.form__bodyContent{
    display: inline-flex;
    background-color: #d1d1d14b;
    
    border-radius: 4px;
   
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px;
    width: 300px;
    height: 100%;
    align-self:stretch;
}
.form__bodyContent p{
    text-align: left;
     color: #000000bb;
}
.form__bC1{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #000000da;
    
    justify-content:space-around;
    width: 80%;
    margin: 30px;
}
.form__bC1 img{ width:100%; height:auto}
footer.form__w {
    
        display: flex;
        background-color: rgb(212, 212, 212);
        width: 100%;
        height: 50px;
        justify-content: center;
        align-self:flex-end;
        flex: 0 0 auto;
}
.form__w p {
    text-align: center;
} 
@media (max-width: 1200px){
   
}